.portPage {

  background: #bfdafb;
  min-height: 100vh; 
  min-width: 100vh;
}

.painting {
  margin-top: 10%;
  margin-left: 20%;
  margin-bottom: 10%;


}

.rightside {
  margin-top: 10%;
  margin-left: -10%;
}

.card {
  margin-top: 4%;
  min-height: 20vh;
  max-height: auto; 
  max-width: 60vh;
  font-size: 1.4rem;
  background-color: #e5f1ff;
  
}

.artTitle {
  font-size: 3rem;
  font-weight: 600;
}